* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
}

body {
  display: flex;
}

main {
  width: 80%;
}

h2 {
  font-size: 2em;
}

input {
  border-style: none;
  outline: none;
}

input[type="button" i], 
input[type="submit" i], 
input[type="reset" i], 
input[type="file" i]::-webkit-file-upload-button, 
button {
    cursor: default;
    color: none;
    background-color: white;
    box-sizing: border-box;
    padding: none;
    border: 1.5px solid grey;
}

.grey-wrapper {
  border-top: 2px solid gray;
  background-color: lightgray;
}

/* SIDEBAR */

.sidebar {
  width: 20%;
  border: 1px solid black;
  background-color: #394252;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.sidebar-section {
  padding: 20px
}

.end {
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}

.sidebar-item {
  padding: 10px;
  margin-left: 10px;
}

.sidebar-item i {
  display: inline-block;
}

.sidebar-item p {
  margin-left: 10px;
  display: inline-block;
}

.portrait {    
  border-bottom: 2px solid black;
}

.sidebar-section {
  border-top: .5px solid grey;
  color: grey;
}

.portrait-background {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
  background-image: url("images/navy-seal.png");
  background-size: cover;
  margin: 0 auto;
  margin-top: 20px;
}

.portrait-name {
  text-align: center;
  margin: 15px;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

/* TOPBAR */

.topbar {
  width: 100%;
  border-bottom: 2px solid grey;
  display: flex;
}

.topbar i {
  color: grey;
  margin: 15px;
}

.hamburger {
  display: inline-block;
  border-right: 2px solid grey;
}

.topbar-trio-left,
.topbar-trio-center,
.topbar-trio-right {
  border-left: 2px solid grey;
  display: inline-block;
  margin-left: auto;
}

/* HEADER BOTTOM PART */
header {
  border: none;
}

.title {
  font-size: 2em;
}

.header-location,
.header-preview {
  display: inline-block;
  font-size: .85em;
  line-height: 3;
}

.header-input {
  width: 100%;
  font-size: 1.3em;
  padding: 5px;
}

.header-preview {
  margin-left: 5px;
  color: blue;
}

.quad-icons {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.quad-icons button {
  border-radius: 100%;
  font-size: 1.1em;
  width: 35px;
  margin-left: 10px;
  padding: 5px;
}

.quad-icons .oval-button {
  width: 90px;
  border-radius: 30px;
}

.fa-pencil {
  margin: none;
}

.quad-icons .oval-button i {
  font-size: .8em;
}

.center-content {
  padding: 20px;
  position: relative;
}

.quad-icons i {
  color: grey;
  margin: 5px;
  display: inline;
}

.fa-circle {
  color: green !important;
}

li {
  display: inline;
  font-size: .8em;
  margin-left: 20px;
}

.active {
  font-weight: 700;
}

/* MID */
.main-nav {
  margin: 10px 0 20px 0;
}

.mid-wrapper {
  border-top: 1px solid grey;
} 

.mid-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-circle,
.middle-circle,
.right-circle {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-circle {
  border: 10px solid #663399;
}

.middle-circle {
  border: 10px solid #336E7B;
}

.right-circle {
  border: 10px solid #3A539B;
}

.main-image {
  height: 180px;
  width: 400px;
  background-image: url("images/f35.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: 0 -80px;
  margin-right: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.button-wrapper button {
  border-radius: 15px;
  padding: 8px;
}

/* DIVIDER */
.divider {
  padding: 15px 2%;
  background-color: lightgrey;
}

.divider-left,
.divider-right {
  width: 47%;
  border: 1px solid grey;
  display: inline-block;
  margin-bottom: 5px;
}

.divider i {
  margin: 10px;
  font-size: 1.3em;
}



/* BOTTOM */
.bottom {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

article {
  width: 60%;
  background-color: white;
}

.bottom-aside {
  width: 30%;
  background-color: lightgrey;
}

section article {
  background-color: 
}

dt {
  float: left;
  width: 35%;
  padding: 20px;
  font-weight: 700;
  border-bottom: 1px solid grey;
  color: #394252;
}

dd {
  float: left;
  width: 65%;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.last-item {
  border-bottom: none;
}

.flag {
  height: 15px;
  margin: none !important;
}

.first {
  background-color: navy;
  color: white;
  padding: 20px;
}

.first button {
  border: none;
  color: white;
  background-color: #34495E;
  padding: 8px;
}

.align-text {
  padding: 26.5px;
}

.align2 {
  padding: 21px;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
}

.bottom-buttons button {
  margin-bottom: 10px;
  font-size: 1.1em;
  border: none;
}

.bottom-buttons p {
  margin-top: 6px;
}

.bottom-buttons i {
  float: left;
  margin: 10px;
  height: 15px;
  color: white;
}

.facebook {
  background-color: darkblue;
  color: white;
}

.twitter {
  background-color: #4B77BE;
  color: white;
}

.linkedin {
  background-color: blue;
  color: white;
}

.bottom-aside h2{
  font-size: 1.4em;
  margin: 15px 0;
}

.aside-top,
.aside-mid,
.aside-bottom {
  font-size: .9em;
  line-height: 1.3;
}

.aside-mid,
.aside-top {
  border-bottom: 2px solid gray;
}

.link-field {
  background-color: white;
  position: relative;
  padding: 7px;
  margin: 20px 0;
}

.link-field p {
  display: inline;
}

.aside-mid button,
.aside-top button {
  height: 100%;
  background-color: #AEA8D3;
  border: none;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}


/* MIN SIZE MEDIA QUERY */
@media screen and (max-width: 400px) {

  body {
    background-color: beige;
  }

  main {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .quad-icons {
    display: block;
    position: static;
  }

  .center-content {
    border: 1px solid black;
  }

  .title,
  .header-location,
  .header-preview {
    text-align: center;
  }

  .bottom {
    flex-direction: column;
  }

  article {
  width: 100%;
  }

  .bottom-aside {
    width: 100%;
  }


}